{% extends "base.html" %}
{% block title %}{% trans "National Resource Management Data Portal" %}{% endblock %}
{% block content %}
  <div id="mainCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/slide1.png' %}" class="d-block w-100" alt="">
      </div>
      <!-- add more slides here -->
    </div>
    <button class="carousel-control-prev" data-bs-target="#mainCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" data-bs-target="#mainCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for app in apps %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ app.title }}</h5>
          <p class="card-text">{{ app.desc }}</p>
          <a href="{{ app.url }}" class="btn btn-primary">{% trans "Go to" %} {{ app.title }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
